body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




#logo{
    height: 110px;
    margin-left: 50px;
    margin-top: 50px;
}


header{
    align-items: center;
    
}

header ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: stretch;
    margin: 0 0 100px 0;
    padding: 0;
    height: 90px;
}

header ul li{
    list-style-type: none;
    border-bottom : 8px solid lightgrey;
    line-height: 90px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

header ul li a{
    text-decoration: none;
    height: 100%;
    color: black;
}

nav li:hover  {
    border-bottom: 8px solid #0065FC;
}

nav li:hover a{
    color: #0065FC;
}

nav li:last-child{
    border: none;
    position: absolute;
    top: 50px;
    left: 45%;
    text-align: end;
}

header li:last-child a {
    color: #0065FC;
    font-weight: bold;
}

/******************/
section{
    width: 80%;
    margin: auto;
}

h1{
    font-size: 50px;
}

p{
    font-size: 33px;
}

 /*************recherche**********/

 #recherche{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }
  
#searchicon{
    border-radius: 25px 0 0 25px;
    background-color: #F2F2F2;
    height: 130px;
    width: 15%;    
  }


#recherche img{
      height: 50px;
      position: relative;
      left: 50px;
      top: 30px;
  }
  
#searchbtn{
      display: inline-block;
      height: 130px;
      width: 15%;
      background-color: #0065FC;
      color: white;
      border : none;
      border-radius : 25px 25px 25px 25px;
      cursor : pointer;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
      padding: 0;
      position: relative;
      right: 17px;
     }
  
#searchbtn span{
    display: none;
}
  
#searchtext{
      height: 130px;
      width: 70%;
      padding: 0 0 0 35px;
      border: 3px solid #F2F2F2;
      font-size: 45px;
  }


#searchtext::placeholder{
    font-size: 45px;
    color: black;
    font-weight: bold;
}

/*************filtres*************/

#divfilters{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    font-weight: bolder;
    margin-top: 100px;
}

#divfilters label{
    font-size: 45px;
}
#listfilters{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    list-style-type: none;
    margin: 32px 0 42px 0;
}

.filter{
    height: 100px;
    border: 6px solid #F2F2F2;
    border-radius:  100px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    padding-left: 23px;
    padding-right: 23px;
    margin-top : 50px;
    font-size: 40px;
    
}

#cbfilter{
    margin: 0;
    padding: 0;
}


.filterlogo{
   display: inline-block;
    width : 101px;
    height: 101px;
    border-radius : 50% 50%;
    background-color:  #DEEBFF;
    position: relative;
    right: 24px;
    
}

.filterlogo i{
    color: #0065FC;
}

.filter:hover {
    background-color: #F2F2F2;  
}

.filter:hover .filterlogo{
    float: right;
    right: -24px;
}

/***************info***********/
 
#info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 42px;
}

.fa-info{
    border: 2px solid lightgrey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 5px;
    color: #0065FC;
    margin-right: 5px;
}

.fa-info::before{
  position: relative;
  top:5px;
  left: 16px;
  
}

/*section hébergements*/

#hebergements{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#sectionPrincipale{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

#sectionPrincipale h2{
    width: 93%;
    margin: 45px 0 0 0;
}


#hebergements aside{
    width: 100%;
    align-items: center;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 50px 0 50px 0;

}

#affichezplus{
    width: 80%;
    margin: 40px 0 50px 0;
}


/*cards section principale*/

.cards{
    width: 100%;
    height: 360px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2), 0 6px 20px 0 rgba(137, 137, 137, 0.19);
    margin: auto;
    border: 10px solid white;
    margin-bottom: 50px;
}

.imgcaption{
    height: 44%;
    width: 100%;
    justify-content: end;
    background-color: white;
    position: relative;
    top: 210px;
    border-radius: 0 0 23px 23px;
}

.imgcaption p{
    margin:0;
   line-height: 1.5em;
}

.imgcaption h3{
    margin:0;
}
.cards i{
    height: 10px;
}

.blue{
    color: #0065FC;;
}

.grey{
    color: lightgrey;
}


/*background cards section principale*/

#cannebiere{
    background-image: url("images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position: -40px -170px; 
}

#port{
    background-image: url('images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-position: 15px -180px;
    
}

#mouettes{
    background-image: url("images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position-y: -200px;
}

#mer{
    background-image: url("images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position-y: -280px;
}

#panier{
    background-image: url("images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position-y: -130px;
}

#amina{
    background-image: url("images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position-y: -520px;
}


/*************aside cards********/
#headeraside{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: baseline;
    margin-bottom: 40px;
}

#headeraside h2{
    margin: 45px 0 0 0;

}

.asidecards{
    width: 80%;
    height: 360px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2), 0 6px 20px 0 rgba(137, 137, 137, 0.19);
    border-radius: 25px;
    border : 10px solid white;
    background-size: cover;
    margin-bottom: 50px;
}

.caption{
    background-color: white;
    height: 330px;
    width: 50%;
    float: right;
    border-radius: 0px 25px 25px 0;
    position: relative;
    bottom: 4px;
    left: 3px;
    padding: 20px 20px 20px 20px;
}

.caption h3{
    margin: 0 0 10px 0;
}

#matin{
    background-image: url("images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position-x: -50px;
    background-size: contain;
}

#eau{
    background-image: url("images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: contain;
    background-position-x: -40px;
}

#bleu{
    background-image: url("images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: 355px;
    background-position-y: -20px;

}

/****************activités******************/

#activites{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

figure{
    width: 100%;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2), 0 6px 20px 0 rgba(137, 137, 137, 0.19);
    margin: auto;
    margin-bottom: 50px;
}

#activites h2{
    width: 100%;
   padding-bottom: 20px;
}


#activites figcaption{
    background-color: white;
    height: 100px;
    width: 96.25%;
    position: relative;
    top: 322px;
    right: 1px;
    border-radius: 0 0 25px 25px;
    margin: 0;
    padding: 32px 0 0 32px;
    font-size: 1.17em;
    font-weight: bold;
}


#vieuxport{
    background-image: url("images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size:cover;
}


#pomegues{
    background-image: url("images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position-y: -430px;
}



#frioul{
    background-image: url("images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position-y: -58px;
    background-size: cover;
}

#calanques{
    background-image: url("images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position-y: -100px;
    background-size: cover;
}


#garde{
    background-image: url("images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    
    background-size: cover;
}



#longchamp{
    background-image: url("images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    
    background-size: cover;
}

/**************footer**********/
footer{
   
    background-color: #F2F2F2; 
    margin-top: 70px;
    padding-top: 50px
}

footer h3{
    margin: 0;
}

footer div{
    width: 80%;
    margin: auto;
}

footer ul{
    padding: 0;
    line-height: 1.7em;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color : #0065FC;
}
