@media only screen and (min-width: 480px){

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-width: 580px;
}

#wrapper{ 
    width: 92%;
    margin: auto;
}

h1, h2{
    font-size: 1.35em;
}

@media screen and (max-width: 1244px){
    #hebergements{
        flex-direction: column-reverse;
    }

    #sectionPrincipale{
        width: 100%;
    }

    aside{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .asidecards{
        margin: 20px;
        width: 330px;
        margin: auto;
        margin-bottom: 20px;

    }

    #headeraside{
        margin: auto;
        width: 100%;
        padding: 0 20px 0 20px;
    }

    #activites figcaption{
        font-size: .8em;
    }

    footer div{
        margin: 52px 0 0 40px;
    }
}


@media screen and (min-width: 1244px){
    #hebergements{
        flex-direction: row;
    }

    #sectionPrincipale{
        width: 65%;
    }

    aside{
        width: 32%;
        flex-direction: column;
    }
    
    .asidecards{
        margin: auto;
        width: 80%;
    }

    #headeraside{
        display: flex;
        width: 80%;
    }

    #activites figcaption{
        font-size: 1.17em;
    }

    footer div{
        margin: 52px 150px 0 70px;
    }
    
}


/****couleurs des étoiles******/

.blue{  
    color: #0065FC;;
}

.grey{
    color: lightgrey;
}


/************animation des articles***********/

article:hover, figure:hover{
    transform:scale(1.02);
}
    
article, figure{
    transition: all 0.2s ease;
    cursor: pointer;
}



/**************header style***************/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

header nav{
    height: 100%;
    
}

header ul{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    height: 90px;
}

header ul li{
    list-style-type: none;
    border-top : 2px solid white;
    line-height: 90px;
    min-width: 113px;
    text-align: center;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
    height: 100%;
    color: black;
}

nav li:hover  {
    border-top:2px solid #0065FC;
}

nav li:hover a{
    color: #0065FC;
}

header li:last-child a {
    color: #0065FC;
    font-weight: bold;
}


 /*************recherche**********/

#recherche{
    display: flex;
    flex-direction: row;
  }
  
#searchicon{
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;    
  }


#recherche img{
      height: 20px;
      position: relative;
      left: 20px;
      top: 13px;
  }
  
#searchbtn{
      display: inline-block;
      height: 50px;
      width: 130px;
      background-color: #0065FC;
      color: white;
      border : none;
      border-radius : 0 15px 15px 0;
      cursor : pointer;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
      padding: 0;
     }
  
     #searchbtn i{
         display: none;
     }
  
#searchtext{
      height: 50px;
      width: 238px;
      padding: 0 0 0 15px;
      border: 1px solid #F2F2F2;
      font-size: 16px;
  }


#searchtext::placeholder{
    font-size: 16px;
    color: black;
    font-weight: bold;
}



/*************filtres*************/

#divfilters{
    display: flex;
    flex-flow: row;
    align-items: baseline;
    font-weight: bolder;
}

#divfilters label{
    margin-right: 26px;

}

#listfilters{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 0;
    height: 100%;
    list-style-type: none;
    margin: 32px 0 42px 0;
}

.filter{
    height: 50px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    padding-left: 23px;
    padding-right: 23px;
    margin-right: 26px;
}

#cbfilter{
    margin: 0;
    padding: 0;
}


.filterlogo{
   display: inline-block;
    width : 51px;
    height: 51px;
    border-radius : 50% 50%;
    background-color:  #DEEBFF;
    position: relative;
    right: 24px;
    
}

.filterlogo i{
    color: #0065FC;
}

.filter:hover {
    background-color: #F2F2F2;  
}

.filter:hover .filterlogo{
    float: right;
    right: -24px;
}


/***************info***********/
 
#info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 42px;
}

.fa-info{
    border: 2px solid lightgrey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 5px;
    color: #0065FC;
    margin-right: 5px;
}

.fa-info::before{
  position: relative;
  top:4px;
  left: 9px;
 
}


/*section hébergements*/

#hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
}

#sectionPrincipale{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    border-radius: 25px;
}



#sectionPrincipale h2{
   width: 93%;
    margin: 45px 0 0 0;
}


#hebergements aside{
    min-width: 395px;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    
    align-content: space-around;
}

#affichezplus{
    width: 100%;
    margin: 40px 0 50px 70px;
}


/*cards section principale*/

.cards{
    width: 280px;
    height: 200px;
    border-radius: 25px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
    margin: 20px;
    border: 7px solid white;
}

.imgcaption{
    height: 60px;
    width: 265px;
    justify-content: end;
    background-color: white;
    position: relative;
    top: 125px;
    right: 2px;
    border-radius: 0 0 23px 23px;
    padding: 10px;
}
.imgcaption p{
    margin:0;
   line-height: 1.5em;
}

.imgcaption h3{
    margin:0;
}
.cards i{
    height: 10px;
}

.blue{
    color: #0065FC;;
}

.grey{
    color: lightgrey;
}


/*background cards section principale*/

#cannebiere{
    background-image: url("images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position: -40px -40px; 
}

#port{
    background-image: url('images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
    background-position: -3px -35px;
    
}

#mouettes{
    background-image: url("images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position-y: -40px;
}

#mer{
    background-image: url("images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position-y: -65px;
}

#panier{
    background-image: url("images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position-y: -40px;
}

#amina{
    background-image: url("images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position-y: -150px;
}


/*************aside cards********/
#headeraside{
    
    align-content: space-between;
    
    align-items: baseline;
}

#headeraside h2{
    margin: 45px 0 0 0;

}

.asidecards{
    
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
    border-radius: 25px;
    border : 7px solid white;
    
}

.caption{
    background-color: white;
    height: 130px;
    width: 50%;
    float: right;
    border-radius: 0px 25px 25px 0;
    position: relative;
    bottom: 3px;
    left: 3px;
    padding: 20px 20px 20px 20px;
}

.caption h3{
    margin: 0 0 10px 0;
}

#matin{
    background-image: url("images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position-x: -50px;
    background-size: contain;
}

#eau{
    background-image: url("images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: contain;
    background-position-x: -40px;
}

#bleu{
    background-image: url("images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: 165px;
    background-position-y: -20px;

}

/****************activités******************/

#activites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}


#activites h2{
    width: 100%;
   padding-bottom: 20px;
}

.gdeimg{
    width: 22%;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
}
.gdeimg figcaption{
    background-color: white;

    height: 35px;
    position: relative;
    top: 402px;
    border-radius: 0 0 25px 25px;
}

#activites figcaption{
    margin: 0;
    padding: 15px 0 0 20px;
    
    font-weight: bold;
}


#activites figure{
    margin: 0;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
}

.petiteimg{
    display: flex;
    flex-direction: column;
    width: 22%;
    justify-content: space-between;
    
}

#vieuxport{
    background-image: url("images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position-x: -160px;
}


#pomegues{
    background-image: url("images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 60%;
    background-position-y: -130px;
}

#pomegues figcaption{
    background-color: white;
    height: 35px;
    position: relative;
    top: 222px;
    border-radius: 0 0 25px 25px;
}

#frioul{
    background-image: url("images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 30%;
    background-position-y: -58px;
    background-size: cover;
    
}

#frioul figcaption{
    background-color: white;
    height: 35px;
    position: relative;
    top: 86px;
    border-radius: 0 0 25px 25px;
}

#calanques{
    background-image: url("images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position-x: -150px;
}


#garde{
    background-image: url("images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 45%;
    background-size: cover;
}

#garde figcaption, #longchamp figcaption{
    background-color: white;
    height: 35px;
    position: relative;
    top: 154px;
    border-radius: 0 0 25px 25px;
}

#longchamp{
    background-image: url("images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 45%;
    background-size: cover;
}



  

/**************footer**********/
footer{
    display: flex;
    background-color: #F2F2F2; 
    margin-top: 70px;

}

footer h3{
    margin: 0;
}



footer ul{
    padding: 0;
    line-height: 1.7em;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color : #0065FC;
}

}